.about-us h4 {
  color: white;
}

.about-us h1 {
  color: white;
}

.flaticon-brickwall:before {
  color: #fff;
}

.team-member {
  color: white;
}

.contact h4 {
  color: #dfc614;
  -webkit-text-stroke-width: 0.7px;
  -webkit-text-stroke-color: black;
}

a.nav-item.nav-link.active {
  color: #dfc614 !important;
  font-weight: 600;
}

.navbar-bg {
  background-color: #441b13 !important;
  border-radius: 5px;
}

.topbar-bg {
  background-color: #c5af18 !important;
}

.img-fluid {
  max-width: 100%;
  height: auto;
  max-height: 200px !important;
  object-fit: cover;
}

img.card-img-top {
  max-height: 211px;
  object-fit: cover;
}
